.upload {
    height:100%;
    padding:2em;
    padding-top: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uploadForm{
    max-width: 500px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.uploadForm input, button {
    padding:1em 1.5em;
    width: 100%;
    font-size: 2rem;
    border: none;
    border-radius:50px;
}
input{
    background-color: #f0f2f5;
    margin-bottom: 1em;
}
input:hover{
    background-color: #e2e2e2;
}
button {
    background-color: #f0f2f5;
}
button:hover{
    background-color: #b3d1ff;
}
button:active{
    background-color: #6ca7ff;
}