.profile {
    width:100%;
    min-height: 90vh;
    padding:2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.logoutBtn {
    margin:1em 0;
    padding:1em 1.5em;
    width: 100%;
    font-size: 2rem;
    border: none;
    border-radius:5px;
    background-color: #f0f2f5;
    cursor: pointer;
    flex-shrink: 0;
}
.logoutBtn:hover{
    background-color: #b3d1ff;
}
.logoutBtn:active{
    background-color: #6ca7ff;
}
.rightBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:250px;
    min-height: 90vh;
    position: fixed;
    top:10vh;
    right:0;
    padding:0.3em;
    grid-area: rightbar;
    background-color: #fff;
}
.simplebar-scrollbar::before {
    background-color: rgb(231, 231, 231);
}