.navbar {
    height:10%;
    background-color:#1773ea;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color:#fff;
    margin:0;
    padding: 0 2em;
}

.navLink {
    text-decoration: none;
    font-size: 2rem;
    padding: 2em 1em;
    color:rgb(0, 0, 0);
}
.navLink:hover {
    color:#fff;
}
.active {
    pointer-events: none;
    color:#fff;
}