.posts {
    width:100%;
    height:100%;
    padding:2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width:1000px) {
    .posts{
        padding:1em;
    }
}